body { 

	padding-top: 150px; 
		}
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
#logo {
		height: 80px;
		padding-top: 10px;
		padding-bottom: 10px;
		}
.navbar {
	padding-top: 0px;
	font-family: sans-serif;
	font-size: 20px;
}

.foto__perfil {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	float: left;
}
#mytext {
	height: 120px;
	width: 350px;
}
}
#board {
	width: 300px;
	overflow: auto;
}
.post{
	background-color: white;
	border: solid 1px #ccc;
	padding: 10px;
	width: 300px;
	height: 300px;
	float: left;
	margin-right: 20px;
}

.mearrepenti {
	background-color: red;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	
}
.likes {
  color: #ccc;
  display: block;
  padding: 28px 0 0 20px;
  text-align: center;
  transition: all .35s ease-out;
  width: 300px;
}
.likes--red {
  color: tomato;
}
.create__submit {
	height: 60px;
	width: 350px;
}